h1 {
  font-size: 3.2em;
  color: #999;
  margin-bottom: 10px;
  margin-left:20%;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav{
  margin-left:30%;
  width:100%;
}
nav a {
  padding: 1.5%;
  text-decoration: none;
  background-color: #eee;
  border-radius: 4px;
  width:15%;
  height:25px;
  text-align:center;
  margin-right:3%;
}
img{
  padding:0;
  margin:0;
  margin-left:40%;
}
img.cficon{
  width:20%;
  height:20%;

}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}
