.selected {
  background-color:  #CFD8DC !important;
  color: white;
}
.lunchMenus {
  margin: 5%;
  margin-top:1%;
  list-style-type: none;
  padding: 3%;
  width: 50%;
  background-color: lightseagreen;
  border-radius:10px;
  float:left;
}
.lunchMenus li {
height:auto;
padding:1%;
margin:2%;
border-radius:5px;
background-color:lightblue;

}
.lunchMenus li:hover {
  cursor:pointer;
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
  color:blue;
}
.lunchMenus li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.lunchMenus .text {
  position: relative;
  top: -3px;
}
.lunchMenus .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:darkkhaki;
  line-height: 1em;
  position: relative;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  color:darkslategrey;
  width:50%;
  text-align: center;
  height:12%;
  display:block;
  margin-left:30%;
  margin-top:5%;
  height:25px;
}
button:hover {
  background-color: #cfd8dc;
}
.selectedLunchMeal{
  float:right;
  height:auto;
  width:30%;
  margin-top:5%;
  padding: 2%;
  text-align: justify;
  background-color: lightgreen;
  border-radius:10px;
   color:darkslategrey;
   font-weight: bold;
}
img.editIcon{
  display:block;
  margin:2.5%;
 margin-left:45%;
}
img.editIcon:hover{
  cursor: pointer;
  box-shadow: 4px 4px 10px 8px #777;
  border:0;
  border-radius: 30px;
  transition-duration: 1.5s;
}
img.delete {
  float:right;
  height:5%;
  width:5%;
  border:0;
  padding-bottom: 3px;
  margin-bottom:10px;
}
img.delete:hover {
  box-shadow: 4px 4px 10px 8px #777;
  transition-duration: 1.5s;
}
img.addIcon {
  float:right;
  height:10%;
  width:10%;
  border:0;
  border-radius:30px;
  cursor: pointer;
  margin-top:-3%;
}
img.addIcon:hover {
  box-shadow: 4px 4px 10px 8px #777;
  transition-duration: 1.5s;
}
div#addNew{
  margin-left: 5%; 
  width:50%;
  background-color: lightcoral;
  color:darkgreen;
  font-weight: bold;
  padding:3%;
  border-radius:10px;
}

input#lunchMeal {
background-color:lightblue;
padding:0.5%;
width:50%;
height:35px;
color:darkgreen;
font-weight: bold;
border-radius: 10px;
transition-duration: 1.5s;
cursor: pointer;
}
input#lunchMeal:hover{
  background-color:lightgreen;
}